
.App{
  /* border: 1px solid red; */
}
.Navbar{
  
  height: 90px;
  background-color: #8f00b3;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}
.nav_child_1{
  /* border: 1px solid black; */
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 20px;
}
.nav_child_1 img{
  width: 80px;
  height: 90%;
}
.nav_child_1 h1{
  color: white;
}
.nav_child_2{
  display: flex;
  
  gap: 10px;
  align-items: center;
  /* border: 1px solid blue; */

}
.nav_child_2 img{
  width: 50px;
  margin-left: 84%;
}
.container_1{
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: repeat(2, 70% 30%);
}

.cont_1_child1_box{
  /* border: 1px solid blue; */
  height:auto;
  padding: 20px;
}
.cont_1_child2_box{
  /* border: 1px solid green; */
  height:100%;
}
.fist_div_of_gatePass{
  /* border: 1px solid blue; */
display: grid;
grid-template-columns: repeat(3,45% 30% 25%);
}
.fist_div_of_gatePass>div{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}
.outGate_pass{
  background-image: linear-gradient(rgb(221, 0, 255), rgb(130, 10, 185));
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  height: 80%;
  width: 60%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
}

.search_box_div{
  border: 1px solid rgb(202, 200, 200);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,8% 90%);
  align-items: center;
  padding-left: 5px;
  border-radius: 3px;
  
}
.search_box_div input{
  border: none;
  border-left: 2px solid black;
  outline: none;
}

.get_new_pass{
  /* border: 1px solid green; */
  background-color: rgb(9, 187, 9);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  height: 60%;
  width: 85%;
  margin-left: 15%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.stock_container_mani_box{
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin-top: 20px;
}
.stock_container_mani_box>div{
  border-bottom: 1px solid #8f00b3;
  border-top: 2px solid #8f00b3;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #f3ecf5;
  height: 100px;
border-top-left-radius: 30px;
border-bottom-right-radius: 30px;
padding: 10px;
}

.Stock_info_div{
  /* border: 1px solid #8f00b3; */
  /* height: 40px; */
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: -30px;
}
.Stock_info_div p{
  font-weight: bold;
  font-size: 20px;
  color: grey;
}
.Stock_info_div h2{
  font-size: 18px;
  margin-bottom: 60px;
  padding: none;
}

.child2_right_side_box{
  border-left: 3px solid #8f00b3;
  border-right: 1px solid #d079e6;
  border-bottom: 1px solid #a307ca;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 530px;
  margin: 10px;
  margin-top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f3ecf5;
  padding: 10px;
}

.child2_right_side_box img{
  width: 50px;
}
.right_image_with_choose{
  display: flex;
  align-items: center;
}
.right_image_with_choose p{
  font-size: 18px;
  color: grey;
  font-weight: 400;
}
.menu_notification_most_div{
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3,20% 30% 40%);
  align-items: center;
  margin-left: 50px;
  gap: 10px;
  margin-top: -20px;
}
.menu_notification_most_div p{
  border: 1px solid #8f00b3;
  border-bottom: 2px solid #8f00b3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3px 10px;
  border-radius: 5px;
}
.menu_notification_most_div p:hover{
  background-image:  linear-gradient(to bottom right, rgb(162, 0, 255), rgb(251, 0, 255));
  cursor: pointer;
}

.right_second_box{
  margin: 10px;
  margin-top: 20px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3ecf5;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-left: 3px solid #8f00b3;
  border-right: 1px solid #d079e6;
  border-bottom: 1px solid #a307ca;
}
.right_second_box img{
  width: 80px;
}

.detail_container{
  margin-top: 30px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 
  border-bottom: 2px solid #a307ca;
  border-right: 1px solid #a307ca;
}
.detail_container:nth-child(4){
  margin-top: 15px;
}
.detail_navbar_main{
  border-top-left-radius: 20px;
  height: 40px;
  /* background-color: #d458f3; */
  background-image: linear-gradient(to bottom right,#9e02c5 , rgb(152, 5, 154));
  display: flex;
  /* grid-template-columns: repeat(7,5% 15% 10% 25% 15% 15% 15%); */
  align-items: center;
  justify-content: space-between;
}
.detail_navbar_main>div{
  /* border: 1px solid green; */
height: 100%;
display: flex;
align-items: center;
}
.white_circle{
  justify-content: center;
}
.white_circle>div{
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  margin: 0px 7px;
}

.slip_number>p{
  font-size: 12px;
  background-color: white;
  padding: 3px 7px;
  border-radius: 10px;
  color: #8f00b3;
}
.loading_div>p{
  font-size: 12px;
  background-color: white;
  padding: 3px 7px;
  border-radius: 10px;
  color: #8f00b3;
}
.loading_div2>p{
  margin-right: 150px;
  font-size: 12px;
  background-color: white;
  padding: 3px 7px;
  border-radius: 10px;
  color: #8f00b3;
}


.progress-bar span {
 color: white;
 font-size: 12px;
 margin-left: 5px;
 font-weight: bold;
}

.progress {
  height: 10px;
  width: 150px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.prog_inner_bar{
  width: 70%;
  height: 5px;
  background-color: #8f00b3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.play_pause_download_div{
  display: flex;
  align-items: center;
gap: 5px;
}
.play_pause_download_div>div{
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: white;
}
.star_div{
  display: flex;
  gap: 5px;
  padding-right: 10px;
}
.field_box_div{
  /* border: 1px solid green; */
  width: 85%;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  padding: 10px;
  gap:15px 30px;
  
}
.field_box_div>div{
  margin-top: -10px;
}

.field_box_div p{
  font-size: 10px;
  color: gray;
  /* border: 1px solid gray; */
  display: inline-block;
  padding: 0px 2px;
  background-color: white;

  margin-left: 10px;
  margin-bottom: -20px;
  position: relative;
}
.field_box_div input{
  width: 100%;
  height: 30px;
  border: 1.5px solid rgb(170, 169, 169);
  border-radius: 5px;
  margin-top: -100px;
  outline: none;
  padding-left: 5px;
}
.truck_num input::placeholder{
  color: black;
  font-size: 10px;
  display: flex;
  padding-left: 9px;
}
.detail_secon_navbar{
  background-color: #d079e6;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 5px;
}
.detail_secon_navbar_arrow{
  color: white;
  margin-right: 15px;
}
.detail_secon_navbar_body{
  height: 100px;
  background-color: #f3ecf5;
  border-bottom-right-radius: 20px;
}